{% if isLogin %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">회원정보</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        데이터 로딩에 실패했습니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
    showInfo = function(){
        $.ajax({
            url : "/ajax/showInfo",
            method : "POST"
        }).done(function(data){
            $('#exampleModal').modal('show');
        });
    }

</script>
{% endif %}

<div class="quick_icon_wrap" style="bottom:10px;position: fixed;right: 10px;z-index: 1000;" id="plusfriend-chat-button">
    <a href="https://developers.kakao.com/">
        <img src="https://developers.kakao.com/assets/img/about/logos/plusfriend/consult_small_yellow_pc.png" alt="플러스친구 1:1 채팅 버튼" title="플러스친구 1:1 채팅 버튼">
    </a>
</div>
</body>
</html>