{% with menuList = menuList %}
{% with menu = menu %}
{% include "common/header.html" %}
{% endwith %}
{% endwith %}

  <div class="container">
    <h1 class="mt-4 mb-3">이미지 번역
      <small>이미지 번역하기</small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
          이미지를 아래 구역에 드래그&드롭하고 업로드 버튼을 눌러주세요. 번역된 텍스트를 지정하면 해당 영역을 수정할 수 있습니다.
      </li>
    </ol>
  </div>

  <div class="container" id="dragForm">
    <form name="uploadForm" id="uploadForm" enctype="multipart/form-data" method="post">
        <table class="table" width="100%" border="1px">
            <tbody id="fileTableTbody">
                <tr>
                    <td id="dropZone" style="height:250px;text-align:center;vertical-align:middle;">
                        파일을 드래그 하세요
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <form id="ajaxFrom" method="post">
       <input type="file" id="ajaxFile" onChange="ajaxFileChange();" style="display:none;"/>
    </form>
      <div id="uploadDiv" style="display:none;">
        <button class="btn" onClick="ajaxFileUpload();" id="fontUpload">폰트 지정</button>
        <a href="#" onclick="uploadFile(); return false;" class="btn bg_01" id="uploadFileA">파일 업로드</a>
      </div>
    <div class="d-flex justify-content-center" style="display:none!important;" id="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="container">
          <ul class="pagination" id="pagination"></ul>
  </div>
  <div class="container">
    <input type="hidden" id="sendString"/>
    <input type="hidden" id="path"/>
    <input type="hidden" id="sn"/>
    <input type="hidden" id="g_sn"/>
        <div class="row">
          <div class="col-lg-6">
            <div>
                <div class="my-croppie"></div>
            </div>
          </div>
          <div class="col-lg-6">
            <table id="results" style="display:none;width:100%">
                <colgroup>
                    <col width="30">
                    <col width="70">
                </colgroup>
                <thead>

                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="text-align:right;">
                            <input type="button" value="저장" id="save" disabled>
                            <input type="button" value="완료" id="submit" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:right;">
                            <button id="download" style="display:none;">Download!</button>
                            <form action="/ajax/getResultImage" method="get" id="downloadForm">
                                <input type="hidden" name="sn" id="href"/>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:right;">
                            <input type="button" value="다시하기" id="refresh">
                        </td>
                    </tr>

                </tfoot>

            </table>
          </div>
        </div>


  </div>

    <script>
        function ajaxFileUpload() {
            $("#ajaxFile").click();
        }

        function ajaxFileChange() {
            alert("폰트 지정되었습니다.");
        }

    </script>


    <script>
        var imageData = [];
        var nowData;
        var pie;
        getCroppie = function(bound){
            var w = bound[2] - bound[0];
            var h = bound[3] - bound[1];
            var path = $("#path").val();
                if(pie){
                    pie.croppie('destroy');
                }
                pie = $('.my-croppie').croppie({
                    url: path,
                    viewport: { width: w, height: h },
                    boundary: { width: 400, height: 600},
                    showZoomer: false,
                    enableResize: true,
                    enableOrientation: true,
                    mouseWheelZoom: 'ctrl',
                    points:bound
                });
                $('.my-croppie').on('update.croppie', function(ev, cropData) {
                    console.log(cropData.points);
                    var points = cropData.points;
                    var x1 = parseInt(points[0]);
                    var y1 = parseInt(points[1]);
                    var x2 = parseInt(points[2]);
                    var y2 = parseInt(points[3]);
                    var bound = [[x1,y1], [x2, y1], [x2, y2], [x1, y2]];
                    if(nowData){

                        var data = nowData;
                        data['bound'] = bound;
                        var idx = parseInt($("#sn").val());
                        imageData[idx]['info'][data['index']][1] = data['bound'];


                    }
                    $("#save").attr("disabled", false);
                });
        }
        changeCroppie = function(bound){
            var w = bound[2] - bound[0];
            var h = bound[3] - bound[1];
            pie.bind({
                    boundary: { width: w, height: h },
                    points:[bound[0],bound[1],w,h]
            });
        }


    </script>
    <script>
        $(document).on('focus', '.result-input', function(){
            var i = parseInt($("#sn").val());
            var idx = $(this).data('idx');
            nowData = {'index':idx, 'bound':imageData[i]['info'][idx][1]};
            var data = nowData;
            var min_x = data['bound'][0][0];
            var min_y = data['bound'][0][1];
            var max_x = data['bound'][0][0];
            var max_y = data['bound'][0][1];
            $.each(data['bound'], function(pI, pV){
                if(pV[0] < min_x){
                    min_x = pV[0];
                }
                if(pV[1] < min_y){
                    min_y = pV[1];
                }
                if(pV[0] > max_x){
                    max_x = pV[0];
                }
                if(pV[1] > max_y){
                    max_y = pV[1];
                }
            });
            getCroppie([min_x, min_y, max_x, max_y]);
        });

        saveData = function(){
            var i = parseInt($("#sn").val());
            var inputs = $("#results").find(".result-input");
            $.each(inputs, function(pIndex, pValue){
                var idx = $(pValue).data('idx');
                imageData[i]['info'][idx][2] = $(pValue).val();
            });
            $("#save").attr("disabled", true);
        }
        $(document).on("click", "#refresh", function(){
            if(confirm("처음부터 다시 시작하시겠습니까?")){
                window.location.reload();
            }
        });
        $(document).on("click", "#submit", function(){
            if(!$("#save").is(":disabled")){
                if(confirm("저장되지 않은 정보가 있습니다.\n저장하시겠습니까?")){
                    saveData();
                }
            }
            var href = "/ajax/getResultImage";
            $("#download").data("href", "");
            $("#download").hide();

            var g_sn = $("#g_sn").val();
            $.ajax({
                url : '/ajax/generateImage',
                method : 'POST',
                contentType : 'application/json',
                dataType : 'json',
                data : JSON.stringify({"g_sn" : g_sn, "data" : imageData})
            }).done(function(data){
                if(data.result == 1){
                    alert("다운로드 해주세요!");
                    $("#download").data("href", data.g_sn);
                    $("#download").show();
                }
                else{
                    alert(data.msg);
                }
            });
        });
        $(document).on("click", "#download", function(){
            var form = $('#downloadForm')[0];
            $("#href").val($(this).data("href"));
            form.submit();
        });
    </script>

    <script type="text/javascript">

        // 파일 리스트 번호
        var fileIndex = 0;
        // 등록할 전체 파일 사이즈
        var totalFileSize = 0;
        // 파일 리스트
        var fileList = new Array();
        // 파일 사이즈 리스트
        var fileSizeList = new Array();
        // 등록 가능한 파일 사이즈 MB
        var uploadSize = 50;
        // 등록 가능한 총 파일 사이즈 MB
        var maxUploadSize = 500;

        $(function (){
            // 파일 드롭 다운
            fileDropDown();
        });

        // 파일 드롭 다운
        function fileDropDown(){
            var dropZone = $("#dropZone");
            //Drag기능
            dropZone.on('dragenter',function(e){
                e.stopPropagation();
                e.preventDefault();
                // 드롭다운 영역 css
                dropZone.css('background-color','#E3F2FC');
            });
            dropZone.on('dragleave',function(e){
                e.stopPropagation();
                e.preventDefault();
                // 드롭다운 영역 css
                dropZone.css('background-color','#FFFFFF');
            });
            dropZone.on('dragover',function(e){
                e.stopPropagation();
                e.preventDefault();
                // 드롭다운 영역 css
                dropZone.css('background-color','#E3F2FC');
            });
            dropZone.on('drop',function(e){
                e.preventDefault();
                // 드롭다운 영역 css
                dropZone.css('background-color','#FFFFFF');

                var files = e.originalEvent.dataTransfer.files;
                if(files != null){
                    if(files.length < 1){
                        alert("폴더 업로드 불가");
                        return;
                    }
                    selectFile(files)
                }else{
                    alert("ERROR");
                }
            });
        }

        // 파일 선택시
        function selectFile(files){
            // 다중파일 등록
            if(files != null){
                for(var i = 0; i < files.length; i++){
                    // 파일 이름
                    var fileName = files[i].name;
                    var fileNameArr = fileName.split("\.");
                    // 확장자
                    var ext = fileNameArr[fileNameArr.length - 1];
                    // 파일 사이즈(단위 :MB)
                    var fileSize = files[i].size / 1024 / 1024;

                    if($.inArray(ext, ['exe', 'bat', 'sh', 'java', 'jsp', 'html', 'js', 'css', 'xml']) >= 0){
                        // 확장자 체크
                        alert("등록 불가 확장자");
                        break;
                    }else if(fileSize > uploadSize){
                        // 파일 사이즈 체크
                        alert("용량 초과\n업로드 가능 용량 : " + uploadSize + " MB");
                        break;
                    }else{
                        // 전체 파일 사이즈
                        totalFileSize += fileSize;

                        // 파일 배열에 넣기
                        fileList[fileIndex] = files[i];

                        // 파일 사이즈 배열에 넣기
                        fileSizeList[fileIndex] = fileSize;

                        // 업로드 파일 목록 생성
                        addFileList(fileIndex, fileName, fileSize);

                        // 파일 번호 증가
                        fileIndex++;
                    }
                }
            }else{
                alert("ERROR");
            }
        }

        // 업로드 파일 목록 생성
        function addFileList(fIndex, fileName, fileSize){
            var html = "";
            html += "<tr id='fileTr_" + fIndex + "'>";
            html += "    <td class='left' >";
            html +=         fileName + " / " + fileSize + "MB "  + "<a href='#' onclick='deleteFile(" + fIndex + "); return false;' class='btn small bg_02'>삭제</a>"
            html += "    </td>"
            html += "</tr>"

            $('#fileTableTbody').append(html);
        }

        // 업로드 파일 삭제
        function deleteFile(fIndex){
            // 전체 파일 사이즈 수정
            totalFileSize -= fileSizeList[fIndex];

            // 파일 배열에서 삭제
            delete fileList[fIndex];

            // 파일 사이즈 배열 삭제
            delete fileSizeList[fIndex];

            // 업로드 파일 테이블 목록에서 삭제
            $("#fileTr_" + fIndex).remove();
        }

        // 파일 등록
        function uploadFile(){
            // 등록할 파일 리스트
            var uploadFileList = Object.keys(fileList);

            // 파일이 있는지 체크
            if(uploadFileList.length == 0){
                // 파일등록 경고창
                alert("파일이 없습니다.");
                return;
            }
            else if(uploadFileList.length > 5){
                alert("한번에 최대 5개의 이미지를 적용할 수 있습니다.");
                return;
            }

            // 용량을 500MB를 넘을 경우 업로드 불가
            if(totalFileSize > maxUploadSize){
                // 파일 사이즈 초과 경고창
                alert("총 용량 초과\n총 업로드 가능 용량 : " + maxUploadSize + " MB");
                return;
            }

            if(confirm("등록 하시겠습니까?")){
                // 등록할 파일 리스트를 formData로 데이터 입력
                var form = $('#uploadForm')[0];
                var formData = new FormData(form);
                for(var i = 0; i < uploadFileList.length; i++){
                    formData.append('files[]', fileList[uploadFileList[i]]);
                }
                formData.append("font", $("#ajaxFile")[0].files[0]);


                //formData.append("file", fileList[0]);
                $.ajax({
                    url : "/ajax/uploadImage",
                    type : "POST",
                    processData : false,
                    contentType : false,
                    data : formData
                }).done(function(result){
                    if(result.result == 1){
                        alert(result.msg);
                        $("#ajaxFile").val("");
                        $("#fontUpload").hide();
                        var imgs = result.data;
                        $("#loading").show();
                        alert(imgs.length + "장의 이미지를 분석중입니다. 잠시 기다려주세요.");
                        $("#g_sn").val(result.sn);
                        $.ajax({
                            url : '/ajax/imageProcess',
                            method : 'POST',
                            data : {'sn' : result.sn}
                        }).done(function(data){
                            $("#loading").attr("style", "display: none !important");
                            alert("분석이 완료되었습니다. 이미지별 번호를 눌러 수정해주세요.");
                            $("#dragForm").hide();
                            if(data.result == 1){
                                imageData = data.data;
                                var html = '';

                                html += '<li class="page-item"><a class="page-link" aria-label="Previous" id="dataTable_previous" aria-controls="dataTable" href="javascript:reload(0);"><span aria-hidden="true">«</span></a></li>';
                                $.each(imageData, function(pIdx, pInfo){
                                    var _last = (pIdx == (imageData.length - 1)) ? 1 : 0;
                                    html += '<li class="page-item"><a class="page-link" aria-controls="dataTable"  href="javascript:reload('+pIdx+');" data-sn="'+pIdx+'" data-out="'+_last+'">'+(pIdx+1)+'</a></li>';
                                });
                                html += '<li class="page-item"><a class="page-link" aria-label="Next" id="dataTable_next" aria-controls="dataTable"  href="javascript:reload('+(imageData.length-1)+');"><span aria-hidden="true">»</span></a></li>';


                                $("#pagination").html(html);
                            }
                            else{
                                alert(data.msg);
                            }
                        });

                        /*
                        $("#sn").val(result.sn);
                        */
                    }
                    else{
                        alert(result.msg);
                    }
                });
            }
        }
        $(document).on('click', "#save", function(){
            if($("#sn").val()){
                alert("저장되었습니다.");
                saveData();

            }
        });
        reload = function(sn){
            if(!$("#save").is(":disabled")){
                if(confirm("저장되지 않은 정보가 있습니다.\n저장하시겠습니까?")){
                    saveData();
                }
            }
            var idx = parseInt(sn);
            $("#sn").val(idx);
            var pResult = imageData[idx]['info'];
            var html = '';
            $.each(pResult, function(pIndex, pValue){
                html += '<tr>';
                html += '    <td>'+pValue[0]+'</td>';
                html += '    <td><input type="text" style="width:100%;" class="result-input" data-idx="'+pIndex+'" value="'+pValue[2]+'"/></td>';
                html += '</tr>';
            });
            $("#results").find("tbody").html(html);
            $("#results").show();
            $("#path").val(imageData[idx]['path']);
            $(document).find(".page-item").removeClass("active");
            $(document).find(".page-link").eq(idx+1).parent().addClass("active");
            console.log($(document).find(".page-link").eq(idx+1).data("out"));
            if(parseInt($(document).find(".page-link").eq(idx+1).data("out")) == 1){
                $("#submit").attr("disabled", false);
            }
            else{
                $("#submit").attr("disabled", true);
            }
            $(document).find('.result-input').eq(0).focus();
        }
    </script>
    <script>
        $(document).ready(function(){
            $.ajax({
                url : '/ajax/isExpired',
                method : 'POST'
            }).done(function(result){
                if(result.data == 0){
                    $("#dropZone").html("사용권이 없습니다.");
                }
                else if(result.data == -1){
                    $("#dropZone").html("사용권이 만료되었습니다.");
                }
                else if(result.data == -2){
                    $("#dropZone").html("다시 로그인해주세요.");
                }
                else{
                    $("#uploadDiv").show();
                }
            });
        })



    </script>


{% include "common/footer.html" %}
