{% with menuList = menuList %}
{% with menu = menu %}
{% include "common/header.html" %}
{% endwith %}
{% endwith %}
  <div class="container">
    <h1 class="mt-4 mb-3">서비스 신청
      <small>가격안내</small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
          무료계정 3일 체험판은 체험하신 후에는 다시 신청할 수 없습니다.
      </li>
    </ol>
    <div class="row">
      <div class="col-lg-6" style="border:1px solid #eee;padding-top:40px;padding-bottom:40px;">
        <h2>무료계정</h2>
        <p>&nbsp;무료계정 3일 체험판</p>
        <button id="free" data-type="F" disabled>무료등록</button>
      </div>
      <div class="col-lg-6" style="border:1px solid #eee;padding-top:40px;padding-bottom:40px;">
        <h2>월 요금제</h2>
        <p>&nbsp;월 15만원</p>
        <button id="non" data-type="N" disabled>유료등록</button>
      </div>
    </div>

    <hr/>
    <div class="row mb-4">
      <h1>환불 정책 안내</h1>
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
    </div>

  </div>
    <script>
    getTp = function(){
        $.ajax({
            url:'/ajax/getTp',
            method:'POST'
        }).done(function(data){
            console.log(data);
            if(data.result == 1){

                if(data.isRequested > 0){
                    if(data.isRequested == 2){
                      $("#non").val("이용중");
                      $("#free").val("이용중");
                    }
                    $("#non").attr("disabled", true);
                    $("#free").attr("disabled", true);

                }
                else{
                    if(data.free == 1){
                        $("#free").attr("disabled", false);
                    }
                    else{
                        $("#free").attr("disabled", true);
                        $("#free").val("체험 완료");
                    }
                    $("#non").attr("disabled", false);
                }
            }
            else{
                alert("뭔가 잘못되어있습니다.");
            }
        });
    }
        $("#free, #non").on("click", function(){
            var t_type = $(this).data('type');
            $.ajax({
                url:'/ajax/setTp',
                method:'POST',
                data : {'type' : t_type}
            }).done(function(data){
                alert(data.msg);
                getTp();
            });
        });
    getTp();
    </script>

{% include "common/footer.html" %}
